body {
    height: auto;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container-menu {
    width: 100%;
    height: 100%;
    background:#171e26;
}

.menu ul {
    display: inline-flex;
    margin: 2% 0%;
    width: 100%;
    position: relative;
}

.menu ul li {
    list-style: none;
    margin: 0 20px;
    color: #b2b1b1;
    cursor: pointer;
}
.active {
    color: #19dafa !important;
}

.signup-btn {
    position: absolute;
    top: -60%;
    right: 60px;
    text-decoration: none;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#171e26,#171e26),radial-gradient(circle at top left, #fd00da,#19d7f8);
    background-origin: border-box;
    background-clip: content-box,border-box;
}
.signup-btn span {
    display: block;
    padding: 8px 22px;
}
.login-btn {
    position: absolute;
    top: -60%;
    right: 180px;
    text-decoration: none;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#171e26,#171e26),radial-gradient(circle at top left, #19d7f8, #fd00da);
    background-origin: border-box;
    background-clip: content-box,border-box;
}
.login-btn span {
    display: block;
    padding: 8px 22px;
}

.canvas {
    z-index: -1;
    position: absolute;
    width: auto;
    height: auto;
}

.App-Text {
    float: left;
    width: 100%;
}

.banner h1{
    font-size: 36px;
    position: absolute;
    margin: 10%;
    text-align: center;
}

.App-Text p{
    width: 45%;
    font-size: 19px;
    margin: 5% 4%;
    line-height: 25px;
    color: #919191;
}

.latest {
    width: 100%;
    height: auto;
    background:#171e26;
} 
.books {
    height: 100%;
    background:#171e26;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
}
.book {
    border: 1px solid #ccc;
    display: inline-block;
    text-align: center;
    width: 15%;
}
  
.book:hover {
    border: 1px solid #777;
}

.desc {
    padding: 15px;
    text-align: center;
    color: white;
}
.book img {
    vertical-align: middle;
    width: 99%;
    height: 45%;
}
@media only screen and (max-width: 1600px) {
    .book img {
        height: 35%;
    }
}
@media only screen and (max-width: 1000px) {
    .book img {
        height: 25%;
    }
}
@media only screen and (max-width: 700px) {
    .book img {
        height: 15%;
    }
}
