{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="main-content">
        <div class="col-lg-6" style="margin:auto;padding: 100px 5px;">
            <div class="content-section">
                <form method="POST" class="form-box">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Log In</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="genric-btn purple-border" type="submit">Login</button>
                    </div>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                        <i class="fa fa-user"></i> Need An Account?<a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
                        </small>
                    </div>
                    <div class="form-group">
                        <small class="text-muted ml-2">
                        <i class="fa fa-lock"></i> <a href="{% url 'password_reset' %}">Forgot Password?</a>
                        </small>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}