{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="main-content">
        <div class="col-lg-6" style="margin:auto;padding: 100px 5px;">
            <div class="content-section">
                <form method="POST" class="form-box">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Reset Password</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="genric-btn purple-border" type="submit">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}