{% extends "main/base.html" %}
{% block content %}

<div class="container">
{% if available_book_list %}
<div class="main-content">
    <h1 style="text-align: center; color: white;">All books!</h1><hr>


                
          <div class="row">
          
          {% for book in available_book_list.all %}
            <div class="col-md-4">
              <div class="card bg-dark-b mb-4 shadow-sm" style="width: 20rem;">
              
                <a target="_blank" href="{% url 'main:main-book' book.id %}">
                <img class="card-img-top" data-src="" alt="Thumbnail" style="height: 300px; width: 100%; display: block;" src="{{ book.image.url }}" data-holder-rendered="true">
                </a>
            
                <div class="card-body">
                
                <b class="article-title">{{ book.title }}</b>
                
                  <p class="card-text"></p>
  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="{% url 'main:main-book' book.id %}" class="btn btn-sm genric-btn primary">Order</a>
                    </div>
                    <small class="text-muted" >Available: {{ book.copies }}</small>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
        


{% else %}
<p>No books are available.</p>
{% endif %}

{% if is_paginated %}
  {% if page_obj.has_previous %}
    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
  {% endif %}

  {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
      <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
      <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% endif %}
  {% endfor %}

  {% if page_obj.has_next %}
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
  {% endif %}
{% endif %}

</div>

</div>
{% endblock content %}