{% extends "main/base.html" %}
{% block content %}

    <div class="banner">
        <canvas class="canvas"></canvas>
        <div class="App-Text">
            <h1>Welcome to DoublingMoney's loan service</h1>
        </div>
        
    </div>
{% if rate %}

        <div class="latest">
            <hr style="width:30%;float: left;"><hr style="width:30%;float: right;">
            <h1 style="text-align: center;color: white;">Top rated books</h1>
        </div>
{% for book in rate.all %}

        
        <div class="books">
        
            <div class="book">
                <a target="_blank" href="{% url 'main:main-book' book.id %}">
                  <img src="{{ book.image.url }}" alt="Book">
                </a>
            </div>
        </div>


        
{% endfor %}

{% else %}
<p>No books are available.</p>
{% endif %}

{% endblock content %}
