{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Profile Info</legend>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Update</button>
          </div>
      </form>
    </div>

    <div class="rentals">
    {% if rentals %}
       {% for item in rentals.all %}
        <p>title: {{ item.inventory }}<p>
        <p>Rental Date: {{ item.rental_date }}<p>
        <p>Rental Date: {{ item.expire_date }}<p>
        {% endfor %}
    {% else %}
        <p> no active rentals </p>
    {% endif %}
    </div>

    <div class="payments">
       {% if payments %}
       {% for item in payments %}
        <p>Book rented paid: {{ item.rental.inventory }}<p>
        <p>Rent cost: {{ item.amount }} €<p>
        <p>Method: {{ item.method }}<p>
        <p>Payment Date: {{ item.payment_date }}<p>
        {% endfor %}
    {% else %}
        <p> no payments </p>
    {% endif %}
    </div>
{% endblock content %}